<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header bg-primary">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
    </div>
    <div class="modal-body">
      <div class="p-t-20 m-b-20 p-l-40">
      <p>Are you sure you want to Approve these feedback question</b>?</p>
      </div>
        <div class="row">
         <table class="table table-hover table-dynamic">
              <thead>
                <tr>
                  <th>Question</th>
                </tr>
              </thead>
              <tbody>
                <%@pending_question.each do |h|%>
                <tr >
                <td><%= h%></td>
                </tr>
                <%end%>
              </tbody>
          </table>    
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Cancel</button>
      <%= link_to "Approve", feedback_questions_approved_status_path(:format => @pending_ids.join(',')), method: :get, :remote => true, class: "btn btn-primary btn-embossed", "data-dismiss" => "modal"%>
    </div>
  </div>
</div>
