          <div class="modal fade" id="colored-header" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header bg-primary">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                  <h4 class="modal-title"><strong>Colored</strong> Header</h4>
                </div>
                <div class="modal-body">
                  <p>Want colors? Click on a color to switch header look:</p>
                  <div class="p-t-20 m-b-20 p-l-40">
                    <ul class="colors-list color-header">
                      <li class="dark"></li>
                      <li class="red"></li>
                      <li class="green"></li>
                      <li class="blue active"></li>
                      <li class="aero"></li>
                      <li class="gray"></li>
                      <li class="orange"></li>
                      <li class="pink"></li>
                      <li class="purple"></li>
                    </ul>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Save changes</button>
                </div>
              </div>
            </div>
          </div>