 <div class="modal fade" id="modal-show-image" aria-hidden="true"></div>
<%=
case current_user.user_type
  		when ADMIN then 
  			render partial: 'admin_home_page'
  		when BRANCH_HEAD then 
  			render partial: 'branch_home_page'

  		when DEPARTMENT_HEAD then 
  			render partial: 'department_home_page'

  		when SUB_DEPARTMENT_HEAD then 
  			render partial: 'sub_department_home_page'

  		when GUEST_USER then 
  			render partial: 'guest_home_page'

  	end
%>
<script type="text/javascript">



</script>